<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <!--内测服务器-->
    <!--<add key="RemotePresentationApi" value="http://localhost:2489/" />-->
    <!--<add key="RemotePresentationApi" value="http://172.16.15.137:81/api/"/>-->
    <add key="RemotePresentationApi" value="http://172.16.135.56:8012/api" />
    <add key="encryptKey" value="!@#aaDDFF__))"/>
   <add key="CertificateUrl" value="App_Data\zeng.zherli.com.pfx"/> 
    <!--证书密码-->
    <add key="CertificatePwd" value="123456"/>
  </appSettings>
  <connectionStrings>
    <!--公司用-->
    <!--<add name="DoPontEntities" connectionString="Data Source=172.16.6.95;Initial Catalog=jv1_fuwu;Persist Security Info=True;User ID=sa;Password=qwe!23;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DoPontEntities" connectionString="Data Source=172.16.135.57;Initial Catalog=jv1_fuwu;Persist Security Info=True;User ID=sa;Password=qwe!23;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!--个人电脑测试用-->
    <!--<add name="DoPontEntities" connectionString="data source=.;initial catalog=jv1_fuwu;user id=sa;password=123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
