<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LogPath" value="D:\DuPontServiceLog\DuPontServiceyumi.txt" />
    <add key="RemotePresentationApi" value="http://172.16.135.56:8012/api" />
  
    <!--证书文件本地路径(开发测试服务器的证书)-->
    <add key="CertificateUrl" value="\App_Data\app_fuwu.pfx" />
    <!--证书密码-->
    <add key="CertificatePwd" value="123456" />
  </appSettings>
  <connectionStrings>   
     
    <!--公司用-->
    <!--<add name="DoPontEntities" connectionString="Data Source=172.16.6.95;Initial Catalog=jv1_fuwu;Persist Security Info=True;User ID=sa;Password=qwe!23;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DoPontEntities" connectionString="Data Source=172.16.135.57;Initial Catalog=jv1_fuwu;Persist Security Info=True;User ID=sa;Password=qwe!23;MultipleActiveResultSets=True"
          providerName="System.Data.SqlClient" />
    <!--个人电脑测试用-->
    <!--<add name="DoPontEntities" connectionString="data source=.;initial catalog=jv1_fuwu;user id=sa;password=123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>