<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--内测服务器api地址-->
    <add key="RemoteApi" value="http://localhost:2489/" />
    <!--<add key="RemoteApi" value="http://172.16.15.137:81/" />-->

    <!--逻辑层服务器地址（开发阶段使用）-->
    <add key="RemoteApiForDebug" value="http://localhost:2489/" />
    
    <!--开发测试服务器-->
    <!--<add key="RemoteApi" value="https://PC-201506292321.mscloud.com/api/" />-->
    
    <!--证书文件本地路径(内测服务器的证书)-->
    <!--<add key="CertificateUrl" value="App_Data\zeng.zherli.com.pfx"/>-->
    <!--证书文件本地路径(开发测试服务器的证书)-->
    <add key="CertificateUrl" value="\App_Data\app_fuwu.pfx" />
    
    <!--证书密码-->
    <add key="CertificatePwd" value="123456" />

    <!--系统参数配置-->

    <!--短信配置
        restAddress:SMS服务器地址
        restPort:SMS服务器端口号
        accountSid:主账号
        accountToken:主账号令牌
        appId:应用Id
        smsValidMinutes:短信的有效时间
    -->
    <add key="restAddress" value="app.cloopen.com" />
    <!--生产环境要改成app.cloopen.com:8883-->
    <add key="restPort" value="8883" />
    <!--主账号的ACCOUNT SID-->
    <add key="accountSid" value="1379ebfe5c1211e58a2aac853d9d52fd" />
    <!--主账号的AUTH TOKEN-->
    <add key="accountToken" value="c1850e6fa05119bd959aaadc773bf53c" />
    <add key="appId" value="8a48b5514fba2f87014fd3bc577f3777" />
    <add key="smsTemplateId" value="38563" />
    <!--短信模板Id，测试时为1-->
    <add key="smsValidMinutes" value="2" />
    <add key="encryptKey" value="!@#aaDDFF__))" />
    <!--短信验证码发送模式，如果值为1，表示测试阶段，任意值均能通过-->
    <add key="smsCodeSenderInTestMode" value="1" />
    <!--android 推送轮询频率 单位分钟-->
    <add key="pollingFrequency" value="1" />

    <!--极光推送配置-->
    <add key="app_key" value="77b920a25497094bb091d21a" />
    <add key="masterSecret" value="424b799971b3c569af4dc6a7" />
    <!--文章地址-->
    <add key="articleBasePath" value="http://localhost:28847" />    
    <!--这个地址需要网络能够调得通-->
    <add key="jpush_need_connect_internet" value="https://api.jpush.cn/v3/push" />
   
   
  </appSettings>
  <connectionStrings>
    <add name="log4netConnStr" connectionString="server=.\sql2012;database=DoPont_DEV;uid=sa;pwd=1" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-DuPont-20150803050407.mdf;Initial Catalog=aspnet-DuPont-20150803050407;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--sqldata001服务器-->
    <!--<add name="DoPontEntities" connectionString="metadata=res://*/DuPont.csdl|res://*/DuPont.ssdl|res://*/DuPont.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqldata001;initial catalog=DoPont;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--本地服务器-->
    <!--<add name="DoPontEntities" connectionString="metadata=res://*/DuPont.csdl|res://*/DuPont.ssdl|res://*/DuPont.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012;initial catalog=DoPont_DEV;persist security info=True;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--242服务器-->
    <!--<add name="DoPontEntities" connectionString="data source=172.16.6.242;uid=sa;pwd=111222;initial catalog=DoPont_DEV" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <system.web>
    
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" requestLengthDiskThreshold="512" />
    
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
