<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--本地api服务器地址 用于显示app上传的图片-->
    <add key="RemoteApi" value="http://localhost:25399/" />

    <!--后台网站服务层地址-->
    <add key="RemoteAdminApi" value="http://localhost:8090/" />
    <!--本地后台网站地址-->
    <!--<add key="RemoteAdminApi" value="http://172.16.15.137:81/" />-->
    <!--正式地址 https://fuwu.xianyuding.cn/api -->
    <!--证书文件本地路径-->
    <add key="CertificateUrl" value="App_Data\zeng.zherli.com.pfx" />
    
    <!--证书密码-->
    <add key="CertificatePwd" value="123456" />
    
    <!-- Begin 极光推送(目前不再使用极光推送) -->
    <!--极光推送配置-->
    <add key="app_key" value="77b920a25497094bb091d21a" />
    <add key="masterSecret" value="424b799971b3c569af4dc6a7" />
    
    <!--这个地址需要网络能够调得通-->
    <add key="jpush_need_connect_internet" value="https://api.jpush.cn/v3/push" />
    <!-- End 极光推送 -->
    
    <!--APP端API接口地址-->
    <add key="app_api_addr" value="http://localhost:20002/" />
    
  </appSettings>
  <connectionStrings>
    <add name="log4netConnStr" connectionString="server=172.16.6.242;database=DoPont_DEV;uid=sa;pwd=111222" providerName="System.Data.SqlClient" />
    <!--本地服务器-->
    <add name="DoPontEntities" connectionString="metadata=res://*/DuPont.csdl|res://*/DuPont.ssdl|res://*/DuPont.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012;initial catalog=jv1_fuwu;persist security info=True;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--242服务器-->
    <!--<add name="DoPontEntities" connectionString="metadata=res://*/DuPont.csdl|res://*/DuPont.ssdl|res://*/DuPont.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.135.57;uid=sa;pwd=qwe!23;initial catalog=DoPont_test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" requestLengthDiskThreshold="40960" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="/custompage/pagedefault">
      <error statusCode="500" redirect="/custompage/page500" />
      <error statusCode="404" redirect="/custompage/page404" />
    </customErrors>
    <sessionState cookieName="_token" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="6000"></requestLimits>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".apk" />
      
      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-font-woff2" />
      <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
       <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />        
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>